<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
  </title>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i,600i,700i" rel="stylesheet">

  <link href="/assets/css/default.css" rel="stylesheet">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">
    <script src="/assets/scripts/scroll.min.js" ></script>
</head>

<body>
