<div class="gel-layout__item homepage-header-text homepage-header-text__lead gel-1/1@s gel-1/3@m gel-1/5@l">
    <h1><a href="{{site.url}}/">Joe Hart</a></h1>
    <div class="nav">
        <!--<p><a class="btn btn-nav" href="{{site.url}}/#blog">Blog</a></p>-->
        <p><a class="btn btn-nav" href="{{site.url}}/#comedy">Comedy</a></p>
        <p><a class="btn btn-nav" href="{{site.url}}/#videos">Videos</a></p>
        <!--<p><a class="btn btn-nav" href="{{site.url}}{{site.baseurl}}/#games">Games</a></p>
        <p><a class="btn btn-nav" href="{{site.url}}{{site.baseurl}}/#things">Things</a></p> 
        -->
    </div>
</div>
