@import '../node_modules/normalize-scss/sass/normalize';
@import '../node_modules/gel-sass-tools/sass-tools';
@import '../node_modules/sass-mq/mq';
$gel-grid-enable--markup-output: true;
@import '../node_modules/gel-grid/grid';
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica","Arial",sans-serif;

    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
}

.clearfix {
  overflow: auto;
}

h1{
    font-family: "Helvetica","Arial",sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

h2, h3, h4, h5, h6{
    font-family: "Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 600;
    margin:0;
    line-height:1;
    letter-spacing: -1px;
}


    
    a:link,
    a:visited {
        font-weight: bold;
        text-decoration: underline;
        color: black;
    }

    a:hover {
        -webkit-transition: color 0.2s ease-out;
        -moz-transition: color 0.2s ease-out;
        -ms-transition: color 0.2s ease-out;
        -o-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out;
    }

    a:focus,
    a:hover,
    a:active {
        text-decoration: underline;
        color: cyan; 
    }

/*------------------------------------*\
    # FAUX BLOCK LINK
\*------------------------------------*/

/*
* The `Faux Block Link` pattern allows you to make an entire block
* a link, whilst having links nested within in that block also clickable.
*
* The main link (i.e. the faux block link) is absolutely positioned across the entire
* block, any nested links have a little z-index bump to lift them on top. Nice.
*
* This implementation is not compatible with IE8 and below. On these browsers
* this falls back to being two standard anchors.
*
* EXAMPLE IMPLEMENTATION - http://codepen.io/anon/pen/NAwZpd
<div class="gs-o-faux-block-link">
    <a href="http://www.bbc.co.uk/news" class="gs-o-faux-block-link__overlay-link">
      <h3>Heading</h3>
    </a>
    <p>This is some summary <a href="http://www.bbc.co.uk/sport">text</a>/p>
</div>
Our implementation is based on http://codepen.io/IschaGast/pen/Qjxpxo
*/


/*
 * Fixes the issue where the faux block links work intermittently on
 * IE9 and IE10, and ensures that all areas of the block act as a link
 */
@mixin ie-background-fix {
    @if $enhanced {
        background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat 0 0;
    }
}

.faux-block-link {
    position: relative;
}

.faux-block-link a,
.faux-block-link abbr[title] {
    position: relative;
    z-index: 2;
}

.faux-block-link .faux-block-link__overlay-link {
    position: static;

    &:before {
        bottom: 0;
        content: "";
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
        z-index: 1;

        // only applies to IE 9
        .ie9 & {
            @include ie-background-fix;
        }
    }
}

/**
 * This class allows you to have a seperate overlay href rather than using :before
 * Useful if you have a position relative between the link and the container div where the .faux-block-link
 * should overlay.
 */
.faux-block-link .faux-block-link__overlay {

    display: none;
    visibility: hidden;

    @if $enhanced {
        @include ie-background-fix;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;
        visibility: visible;

        overflow: hidden;
        text-indent: 200%;

        white-space: nowrap;
    }
}

/**
 * Increased specificity so it trumps ".faux-block-link a"
 *
 * 1. IE Fix - Elements have a solid black background in high contrast mode.
 */
.faux-block-link__overlay.faux-block-link__overlay {

    position: absolute;
    z-index: 0;

    .lt-ie9 & {
        opacity: 0; /* [1] */
    }
}

// only applies to IE 10
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .faux-block-link .faux-block-link__overlay-link:before {
        @include ie-background-fix;
    }
}

.btn,.btn:link,.btn:visited {
    display:inline-block;
  font-family: "Helvetica","Arial",sans-serif;
  font-weight:600;
  color: #ffffff;
  border:none;
  margin-top:6px;
  font-size:18px;
  background: black;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  &:hover{
    background: cyan;
    text-decoration: none;
  }
}

.btn:hover {
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.page-header{
      padding-top:16px;
  padding-bottom: 8px;
}


@import 'homepage';
@import 'videopage';
@import 'nav';
@import 'comedy';
@import 'blog';
